body {
  font-family: 'Cutive Mono', monospace;
  font-size: 12px;
}

.container {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 40px;
}

.logoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.logo {
  width: 300px;
  height: 300px;
}

.header {
  font-size: 3em;
  margin: 0;
}

.socialContainer {
  padding: 10px 0;
}

.socialRow {
  font-size: 2em;
  display: flex;
  align-items: center;
}

.social {
  font-weight: bold;
}

.socialIcon {
  width: 1.8em;
  height: 1.8em;
  margin-left: 10px;
  cursor: pointer;
}

.newsletterButton {
  font-size: 2em;
  margin-top: 15px;
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
}
