body {
  font-family: 'Cutive Mono', monospace;
}

.container {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 40px;
  max-width: 1080px;
  height: 1080px;
}

.logoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.logo {
  width: 100px;
  height: 100px;
}

.header {
  font-size: 16px;
  margin: 0;
}

.socialContainer {
  padding: 10px 0;
}

.socialRow {
  display: flex;
  align-items: center;
}

.social {
  font-weight: bold;
}

.socialIcon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.newsletterButton {
  margin-top: 15px;
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
}
