.wordWrapper {
  position: relative;
  curosor: pointer;
}

.open {
  position: absolute;
  top: -50px;
  left: 20px;
  height: 50px;
  width: 200px;
  border: 1px solid black;
  background-color: white;
}

.closed {
  display: none;
}
